html{color:#000;
	background-image: url('./images/ugc (1).jpg');
	padding:20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}

h1{ color: #FFF}
#header {
	width:50%; height:135px; background-color:#FF3366;
	border-bottom: 1px solid #999;
	
	/* 외곽선 둥글게 만들기, IE지원 안함 */
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-radius: 15px 15px 0 0;
}
/* -- navigation -- */
#navbar {width:635px; height:30px;background-color:#FF3366;}
#navbar ul {margin:0;padding:0;}
#navbar ul li {float:left;}
#navbar ul li a{
	color:#fff; background-color: #FFCBCB;
	display:block;
	width:120px;
	text-align:center;
	padding:0px 10px; 
	font: bold 12px/30px Tahoma;
	text-decoration:none;
	margin-right:1px;
}
#navbar ul li a.selected {background-color: #FFCBCB;}
#navbar ul li a:hover {background-color:#FFDC3C;}

#line {width:635px; height:5px;background-color:#FFCBCB;}

img{
		margin: 30px;
		float: left;
	}
	ul{
		list-style-type: none;
		padding: 0px;
		margin: 20px;
		float: left;
	}
	a:link, a:visited {
		display: block;
		height: 30px;
		width: 300px;
		text-align: center;
		padding: 10px 10px 0px 10px;
		background-color: #FFCBCB;
		color: #FF1493;
		text-decoration: none;
	}
	a:hover, a:active{
		display: block;
		height: 30px;
		width: 300px;
		text-align: center;
		padding: 10px 10px 0px 10px;
		background-color: #FFDC3C;
	}

